<phpunit
 colors="true"
 bootstrap="vendor/autoload.php"
 backupGlobals="false"
 verbose="true"
 convertErrorsToExceptions="true"
 convertNoticesToExceptions="true"
 convertWarningsToExceptions="true"
 forceCoversAnnotation="true">
  
  <testsuites>
    <testsuite>
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
 
  <filter>
    <whitelist>
      <directory>./src/</directory>
    </whitelist>
  </filter>
 
</phpunit>
